<%- include("partials/header.ejs"); -%>


<div class="container">

  <header class="jumbotron">
    <div class="container">
      <h1>Your Available Orders: <span style="color: red;"><%=no_of_items%></span></h1>
      <h1>The Total Amount: $ <span style="color: red;"><%=totalPrice%></span> </h1>
      <p>Confirm your amount</p>
      <p>

        <% if(currentUser && currentUser.username=="admin12345" ) { %>
        <a href="/new" class="btn btn-primary btn-lg">Add a product</a>
        <a href="/" class="btn btn-primary btn-lg">Go Back</a>
        <% } %>

        <% if(currentUser && currentUser.username!=="admin12345" ) { %>
          <a href="/cart" class="btn btn-primary btn-lg">l confirm</a>
          <a href="/" class="btn btn-primary btn-lg">Go Back</a>
        <% } %>
        
      </p>
    </div>
  </header>
<!-- ============================================================================================================================================= -->

<% if(products<1){%>

  <p class="text-white">No products yet</p>

  <%  } %>

<% products.forEach(function(product){ %>

 
  <div class="container">

      <div class="card mb-3" >
        <div class="row">
            <div class="col-md-4">
                
                <img class="img-fluid" alt="" src="/uploads/images/<%= product.product.img %>">
                
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title"><%=product.product.name %></h2>
                    <p>Price: $ <%= product.product.price %></p>
                    <p class="card-text"><small class="text-muted">Updated on:   <%= moment(product.timeCreated).format('LL') %> </small></p>

                    <div class="sidebar-box">
                     

                      <% if(currentUser && product.user.id.equals(currentUser.id) || currentUser && currentUser.username=="admin12345" ) { %>
                        <form id="deleteForm" style="text-align: center; padding: 10px;" action="/<%= product._id %>?_method=DELETE" method="POST">
                        <p>     <button class="delBtn btn btn-danger btn-md">Delete the order</button>
                       
                       
                      </p> 
                        </form>
                        <% } %>
                    </div>

                    <% if(currentUser && currentUser.username=="admin12345" ) { %>
                      <form id="deleteForm" style="text-align: center; padding: 10px;" action="product/<%= product._id %>?_method=DELETE" method="POST">
                      <p>     <button class="delBtn btn btn-danger btn-md">Delete the product</button>
                     
                     
                    </p> 
                      </form>
                      <% } %>
                      </form>
  
                </div>
            </div>
        </div>
    </div>
  
 </div>

<!-- ============================================================================================================================================= -->










<!-- ============================================================================================================================================= -->

 
</div>


<% }); %>





<%- include("partials/footer.ejs"); -%>